@{
  Layout="Shared/_Layout.cshtml";
}
<form action="/shows/new" method="post">
  @* <select id='band-id' name='band-id' type='text'>
    @foreach (var band in @Model["allBands"])
    {
      <option value='@band.GetId()'>@band.GetBandName()</option>
    }
  </select> *@
  <label for="show-location">Show Location (City, State)</label>
  <input id="show-location" name="show-location" type="text">
  <br>
  <br>
  <label for="show-date">Show Date and Time</label>
  <input id="show-date" name="show-date" type="datetime-local">
  <br>
  @* <select id='venue-id' name='venue-id' type='text'>
    @foreach (var venue in @Model["allVenues"])
    {
      <option value='@venue.GetId()'>@venue.GetVenueName()</option>
    }
  </select> *@
  <button type="submit" class="btn btn-info">Add</button>
</form>
</div>
